# Task1

In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, FloatType, \
    StringType, ArrayType, BooleanType

import pyspark.sql.functions as func

spark = SparkSession.builder.appName("spark_task1").getOrCreate()


schema = StructType([
                     StructField("_id", StringType(), True),
                     StructField("index", IntegerType(), True),
                     StructField("guid", StringType(), True),
                     StructField("isActive", BooleanType(), True),
                     StructField("balance", StringType(), True),
                     StructField("picture", StringType(), True),
                     StructField("age", IntegerType(), True),
                     StructField("eyeColor", StringType(), True),
                     StructField("name", StringType(), True),
                     StructField("gender", StringType(), True),
                     StructField("company", StringType(), True),
                     StructField("email", StringType(), True),
                     StructField("phone", StringType(), True),
                     StructField("address", StringType(), True),
                     StructField("about", StringType(), True),
                     StructField("registered", StringType(), True),
                     StructField("latitude", FloatType(), True),
                     StructField("longitude", FloatType(), True),
                     StructField("tags", ArrayType(StringType()), True),
                     StructField("friends", ArrayType(StringType()), True),
                     StructField("greeting", StringType(), True),
                     StructField("favoriteFruit", StringType(), True)])

df = spark.read.json(path='Documents/exadel_bootcamp/spark_task/data_task1.json',schema=schema, multiLine=True)
df.show(1)

+--------------------+-----+--------------------+--------+---------+--------------------+---+--------+------------------+------+-------+--------------------+-----------------+--------------------+--------------------+--------------------+--------+---------+--------------------+--------------------+--------------------+-------------+
|                 _id|index|                guid|isActive|  balance|             picture|age|eyeColor|              name|gender|company|               email|            phone|             address|               about|          registered|latitude|longitude|                tags|             friends|            greeting|favoriteFruit|
+--------------------+-----+--------------------+--------+---------+--------------------+---+--------+------------------+------+-------+--------------------+-----------------+--------------------+--------------------+--------------------+--------+---------+--------------------+--------------------+--------------------+-------------+
|647d9d2aa14e5d948...|    0|8486f37f-68bf-414...|   false|$1,232.31|http://placehold....| 20|   brown|Cardenas Zimmerman|  male|ENDICIL|cardenaszimmerman...|+1 (925) 449-3059|369 Albemarle Roa...|Magna eiusmod ess...|2017-05-07T02:41:...|4.014042|106.89131|[enim, velit, nul...|[{"id":0,"name":"...|Hello, Cardenas Z...|        apple|
+--------------------+-----+--------------------+--------+---------+--------------------+---+--------+------------------+------+-------+--------------------+-----------------+--------------------+--------------------+--------------------+--------+---------+--------------------+--------------------+--------------------+-------------+
only showing top 1 row

# Task2

In [15]:
df2 = df.withColumn("float_balance", func.regexp_replace('balance', '[$,]', '').cast('float'))
df2.show(1)

+--------------------+-----+--------------------+--------+---------+--------------------+---+--------+------------------+------+-------+--------------------+-----------------+--------------------+--------------------+--------------------+--------+---------+--------------------+--------------------+--------------------+-------------+-------------+
|                 _id|index|                guid|isActive|  balance|             picture|age|eyeColor|              name|gender|company|               email|            phone|             address|               about|          registered|latitude|longitude|                tags|             friends|            greeting|favoriteFruit|float_balance|
+--------------------+-----+--------------------+--------+---------+--------------------+---+--------+------------------+------+-------+--------------------+-----------------+--------------------+--------------------+--------------------+--------+---------+--------------------+--------------------+--------------------+-------------+-------------+
|647d9d2aa14e5d948...|    0|8486f37f-68bf-414...|   false|$1,232.31|http://placehold....| 20|   brown|Cardenas Zimmerman|  male|ENDICIL|cardenaszimmerman...|+1 (925) 449-3059|369 Albemarle Roa...|Magna eiusmod ess...|2017-05-07T02:41:...|4.014042|106.89131|[enim, velit, nul...|[{"id":0,"name":"...|Hello, Cardenas Z...|        apple|      1232.31|
+--------------------+-----+--------------------+--------+---------+--------------------+---+--------+------------------+------+-------+--------------------+-----------------+--------------------+--------------------+--------------------+--------+---------+--------------------+--------------------+--------------------+-------------+-------------+
only showing top 1 row

# Task3

In [16]:
df2.createOrReplaceTempView("df2_view")
df3 = spark.sql('SELECT gender, ROUND(SUM(float_balance), 2) FROM df2_view GROUP BY gender')
df3.show()

spark.stop()

+------+----------------------------+
|gender|round(sum(float_balance), 2)|
+------+----------------------------+
|female|                   113979.79|
|  male|                   124797.55|
+------+----------------------------+